@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  margin: 0;
  font-family: "Poppins" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background {
  height: 100vh;
  min-width: 100vw;
  position: absolute;
  z-index: -1;
}
.bg-left {
  background-color: #ffc71e;
  background-image: url("./assets/texture.png");
  height: 100%;
  width: 100vw;
}
.bg-right {
  background-color: #232031;
  background-image: url("./assets/texture.png");
  height: 100%;
  width: 100vw;
}
.card-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
}
.card {
  background-color: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(1px);
  min-height: 60vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(61, 61, 61);
  font-family: "Poppins";
}
.card-details h2 {
  font-size: 60px;
  font-weight: 600;
}
.card-img img {
  /* background-color: wheat; */
  width: 650px;
  margin-bottom: -250px;
  z-index: -1;
}
.btn-custom {
  background-color: tomato;
  color: white;
}
.btn-custom:hover {
  color: white;
}
.footer {
  background-color: rgba(255, 255, 255, 0.315);
  min-height: 8vh;
  display: flex;
  align-items: center;
}
.footer span {
  font-size: 30px;
  margin-left: 20px;
}
